{% extends 'base.html' %}

{% block title %}Blogs{% endblock title %}

{% block body %}
<div class="blogcontainer">
    <h1>Blogs by Lakshay Jindal</h1>
    <div class="blogitem">
        <h2>Learn JavaScript</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci maxime, mollitia iste quis dicta quidem, consequatur explicabo ratione minus magnam doloribus corporis?
        <button class="btn-sm">Read More</button>
    </div>
    <div class="blogitem">
        <h2>Learn JavaScript</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci maxime, mollitia iste quis dicta quidem, consequatur explicabo ratione minus magnam doloribus corporis?
        <button class="btn-sm">Read More</button>
    </div>
    <div class="blogitem">
        <h2>Learn JavaScript</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci maxime, mollitia iste quis dicta quidem, consequatur explicabo ratione minus magnam doloribus corporis?
        <button class="btn-sm">Read More</button>
    </div>
    <div class="blogitem">
        <h2>Learn JavaScript</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci maxime, mollitia iste quis dicta quidem, consequatur explicabo ratione minus magnam doloribus corporis?
        <button class="btn-sm">Read More</button>
    </div>
    <div class="blogitem">
        <h2>Learn JavaScript</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci maxime, mollitia iste quis dicta quidem, consequatur explicabo ratione minus magnam doloribus corporis?
                    <button class="btn-sm">Read More</button>
                </div>
            </div>            
        </div>
        {% endblock body %}