{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

{% load static %}
<div class="infocontainer">
    <div class="devinfo">
        <div class="hello">Hi I am</div>
        <div class="name">Lakshay Jindal</div>
        <div class="about">Developer, Singer.</div>
        <div class="moreabout">I am a Developer and I love to drink Coffee</div>
        <div class="buttons">
            <a href="../static/cv.txt">
                <button class="btn">Download CV</button></a>
                <a href="contact" target="_blank"><button class="btn">Contact Me</button></a>
            </div>
        </div>
        <div class="devpic">
            <img src="../static/devpic.png" alt="Developer Picture">
        </div>
    </div>
</div>
{% endblock body %}
